.dd-wrapper {
  .dd-header-title {
    display: flex;
    align-items: baseline;
    span {
      margin-right: 0.5%;
    }
    img {
      cursor: pointer;
      width: 15px;
      &.down{
        transition: 0.70s;
        -webkit-transition: 0.70s;
        -moz-transition: 0.70s;
        -ms-transition: 0.70s;
        -o-transition: 0.70s;
      }
      &.up{
        transition: 0.70s;
        -webkit-transition: 0.70s;
        -moz-transition: 0.70s;
        -ms-transition: 0.70s;
        -o-transition: 0.70s;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
  }
  .dd-list {
    background-color: black;
    position: absolute;
    float: left;
    padding: 0;
    list-style-type: none;
    border-radius: 2px;
    &.show {
      display: block;
      z-index: 1;
    }
    &.hide {
      display:none;
    }
    li {
      width: 3vw;
      &.selected{
        display: none;
      }
    }
  }
}