.contact {
  h1 {
    margin: 4vh 0 2vh 0;
    color: black;
  }
  p {
    margin-top: 2vh;
  }
  form {
    height: 50vh;
    display: flex;
    flex-direction: column;
    input, textarea {
      margin-top: 1vh;
      padding: 0.5vh;
      font-size: 1rem;
      border: 1px solid #888;
    }
    .message {
      min-width: 100%;
      max-width: 100%;
      min-height: 20vh;
    }
    .send {
      display: flex;
      flex-direction: row-reverse;
      button {
        margin-top: 1vh;
        padding: 0.5vh;
        font-size: 1rem;
        cursor: pointer;
        width: 10vw;
        border: 0;
        height: 2rem;
        background-color: #BF8F5D;
        color: #FFF9F1;
        line-height: 1.5px;
        box-shadow: 0px 4px 8px -3px rgba(90, 60, 23, 0.3);
        display: flex;
        justify-content: center;
      }
    }
    .ohgg {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      color: black;
      background-color: black;
      opacity: 0;
    }
    .loader {
      border: 0.5rem solid #956f47; /* Light grey */
      border-top: 0.5rem solid #FFF; /* Blue */
      border-radius: 50%;
      height: 1.5rem;
      width: 1.5rem;
      animation: spin 2s linear infinite;
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  }
}
