.home {
  min-height: 100vh;
  margin-bottom: -5vh;
  display:flex; 
  flex-direction:column; 
  justify-content: space-between;
  .blurb {
    background-color: black;
    color: white;
    padding-top:4%;
    min-height: 50vh;
    p {
      margin-top: 1%;
      // max-width: 55%;
    }
    .buttons {
      margin-top: 6%;
    }
  }
}
